*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #444;
  border-radius: 6px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0;
  background-color: #343434;
}

header {
  overflow: hidden;
}

#home {
  height: 100vh;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#home .hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/img/medium/home.jpg");
  background-position: 30%;
  background-size: cover;
  background-attachment: fixed;
  font-size: 10px;
  z-index: 0;
}

#home .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

#home .hero-text {
  position: absolute;
  display: block;
  text-align: center;
  top: 50%;
  width: 100%;
  height: 100%;
  transition: margin-left 1s;
}

#home .hero-text h1 {
  margin-bottom: 10px;
  margin-left: 0px;
  transition: .8s;
  opacity: 0;
  animation: bounceInUp 1.6s .3s;
}

#home .hero-text p {
  margin-left: 0px;
  transition: .8s;
  opacity: 0;
  animation: bounceInUp 1.6s .5s;
}

#home .hero-text .about-btn {
  transition: color .3s;
}

#home .hero-text .about-btn button {
  opacity: 0;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 10px;
  background: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: .8s;
  animation: bounceInUp 1.6s .8s;
  cursor: pointer;
}

#home .hero-text button:hover {
  background-color: rgba(255, 255, 255, 0.639);
  color: black;
}

#home .hero-text .about-btn:active button {
  background-color: aqua;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  padding: 30px 20px;
  z-index: 1;
}

nav #brand {
  top: auto;
  margin-right: auto;
  padding: 5px;
}

nav #brand .logo {
  width: 55px;
}

nav .social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  transition: display .3s;
}

nav .social .soc {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: .8rem;
  transition: color .3s;
}

nav .social .soc:hover {
  color: #d2b859;
}

nav .social .soc:active {
  color: aqua;
}

nav .nav__links {
  position: absolute;
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

nav .nav__links li {
  display: none;
  text-transform: uppercase;
  position: relative;
  margin: 20px 0;
}

nav .nav__links li a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: .7rem;
  color: white;
  padding: 0 5px;
  transition: color .3s;
}

nav .nav__links li a:hover {
  color: #d2b859;
  text-shadow: 0px 0px 2px goldenrod;
}

nav .nav__links li a:active {
  color: aqua;
}

nav .nav__links li .ac {
  color: #ffc83e;
  text-shadow: 1px 1px 3px #b98400;
}

nav .nav__links li .ac::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 5%;
  height: 2px;
  width: 90%;
  background-color: goldenrod;
  box-shadow: 1px 1px 3px #b98400;
  animation: up .8s;
}

@keyframes up {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

nav .nav__links .li-block {
  display: block;
}

nav .nav__links::-webkit-scrollbar {
  display: none;
}

nav .nav-block {
  width: 300px;
  height: 80%;
  top: 80px;
  left: calc(50% - 150px);
}

nav .burger-menu {
  position: relative;
  top: auto;
  width: 50px;
  height: 45px;
  cursor: pointer;
  transition: display .3s;
}

nav .burger-menu .container {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 23px;
  overflow: visible;
}

nav .burger-menu .container .line {
  position: absolute;
  width: 30px;
  background-color: #d2b859;
  left: 0;
  display: block;
  height: 3px;
}

nav .burger-menu .container #line0 {
  top: 10px;
}

nav .burger-menu .container #line1 {
  top: 20px;
  transition: top .3s;
}

nav .burger-menu .container #line2 {
  top: 30px;
}

nav .burger-menu .container .txt-container {
  position: absolute;
  width: 30px;
  left: 0;
  top: 12px;
  height: 0px;
  overflow: hidden;
  transition: top 1s;
  width: 100%;
  height: 20px;
  top: 12px;
}

nav .burger-menu .container .txt-container span {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 9px;
  color: #d2b859;
  transition: top .5s;
}

nav .burger-menu .container .showMenu0 {
  transform: rotate(45deg) translateX(9px) translateY(7px);
  translate: -50%, -50%;
  transition: .3s;
}

nav .burger-menu .container .showMenu2 {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
  translate: -50%, -50%;
  transition: .3s;
}

nav .burger-menu:hover #line1 {
  top: 30px;
}

nav .burger-menu:hover .txt-container > span {
  top: 4.5px;
}

.bar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
}

.open-menu {
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #000;
  z-index: 2;
  transition: .3s;
}

.wrapper {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.underline {
  margin: 0 auto;
  margin-top: 100px;
  width: 60px;
  height: 4px;
  background-color: #d2b859;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  animation: headShake 10s  infinite 1s;
}

.about-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-image: url("../img/small/about.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.about-top h2 {
  margin-top: 40px;
  position: absolute;
  font-size: 30px;
  text-transform: uppercase;
  color: #d2b859;
}

.about-top .about-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -10;
}

.about-bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: rgba(48, 48, 48, 0.909);
  background: #f3f3f3;
}

.about-bottom .row {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.about-bottom .row .square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: color .3s;
  width: 250px;
  height: 180px;
  cursor: pointer;
}

.about-bottom .row .anime {
  animation: bounceIn 1.6s;
}

.about-bottom .row .square:hover {
  color: #d2b859;
}

.about-bottom .row .square:hover h3 {
  color: rgba(48, 48, 48, 0.909);
}

.about-bottom .row .square:hover p:last-child {
  color: #d2b859;
}

.about-bottom .row .square:active {
  color: aqua;
}

.about-bottom .row .square:active h3 {
  color: aqua;
}

.about-bottom .row .square:active p:last-child {
  color: aqua;
}

.about-bottom .row img {
  width: 60px;
  margin-bottom: 10px;
}

.about-bottom .row .fas {
  font-size: 60px;
  margin-bottom: 10px;
}

.about-bottom .row h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 7px;
  color: #d2b859;
  transition: color .3s;
}

.about-bottom .row p:last-child {
  letter-spacing: 1px;
  font-size: 12px;
  color: black;
  transition: color .3s;
}

.artist {
  background-image: url("../img/small/artist.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.service {
  background-image: url("../img/small/service.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.atraction {
  background-image: url("../img/small/atraction.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.extras {
  background-image: url("../img/small/extras.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  background-image: url("../img/small/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.div3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #d2b859;
  height: 100vh;
  width: 100%;
}

@media (min-width: 375px) {
  .about-bottom .row .square {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */