*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #444;
  border-radius: 6px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #343434;
}

header {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

header h1 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("/img/desktop/home.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}

header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: -3000px;
  height: 100%;
  transition: margin-left 1s;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  padding: 30px 20px;
  z-index: 2;
}

nav a {
  margin-right: auto;
  cursor: pointer;
  z-index: 1;
}

nav a .logo {
  width: 45px;
}

nav .social {
  display: none;
  align-items: center;
  margin-top: auto;
  margin-right: calc(50% - 75px);
  width: 150px;
  height: 40px;
  transition: margin-top .3s;
  z-index: 5;
}

nav .social .soc {
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: .8rem;
  transition: color .3s;
}

nav .social .soc:hover {
  color: #d2b859;
}

nav .social .soc:active {
  color: aqua;
}

nav .mobile-social {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-right: calc(50% - 75px);
}

nav .nav__links {
  list-style: none;
  text-decoration: none;
  margin: 0 20px;
}

nav .nav__links li {
  text-transform: uppercase;
  display: none;
}

nav .nav__links li a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: .7rem;
  color: white;
  padding: 0 5px;
  transition: color .3s;
}

nav .nav__links li a:hover {
  color: #d2b859;
  text-shadow: 0px 0px 2px goldenrod;
}

nav .nav__links li a:active {
  color: aqua;
}

nav .nav__links li .ac {
  font-weight: bold;
  color: goldenrod;
  font-size: .8rem;
}

nav .nav__links .ac {
  text-shadow: 0 0 5px #4b3f12;
  color: #f3c10a;
  font-weight: bold;
}

nav .nav-block {
  position: absolute;
  display: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

nav .li-block {
  display: block;
}

nav .burger-menu {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  top: auto;
  width: 50px;
  height: 45px;
  cursor: pointer;
  transition: display .3s;
}

nav .burger-menu .container {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 23px;
  overflow: visible;
}

nav .burger-menu .container .line {
  position: absolute;
  width: 30px;
  background-color: #d2b859;
  left: 0;
  display: block;
  height: 3px;
}

nav .burger-menu .container #line0 {
  top: 10px;
}

nav .burger-menu .container #line1 {
  top: 20px;
  transition: top .3s;
}

nav .burger-menu .container #line2 {
  top: 30px;
}

nav .burger-menu .container .txt-container {
  position: absolute;
  width: 30px;
  left: 0;
  top: 12px;
  height: 0px;
  overflow: hidden;
  transition: top 1s;
  width: 100%;
  height: 20px;
  top: 12px;
}

nav .burger-menu .container .txt-container span {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 9px;
  color: #d2b859;
  transition: top .5s;
}

nav .burger-menu .container .showMenu0 {
  transform: rotate(45deg) translateX(9px) translateY(7px);
  translate: -50%, -50%;
  transition: .3s;
}

nav .burger-menu .container .showMenu2 {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
  translate: -50%, -50%;
  transition: .3s;
}

nav .burger-menu:hover #line1 {
  top: 30px;
}

nav .burger-menu:hover .txt-container > span {
  top: 4.5px;
}

.bar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 70px;
}

.open-menu {
  align-items: flex-start;
  background-color: black;
  height: 100vh;
  margin-top: 0;
}

.div3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  top: 100vh;
  height: 100vh;
  width: 100%;
}

.about {
  background-image: url("../img/mobile/about-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.artist {
  background-image: url("../img/mobile/artist-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.service {
  background-image: url("/img/mobile/service-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.atraction {
  background-image: url("/img/mobile/atraction-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.extras {
  background-image: url("/img/mobile/extras-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contact {
  background-image: url("../img/mobile/contact-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 600px) {
  nav .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-right: 63px;
  }
  nav a .logo {
    width: 55px;
  }
  .about {
    background-image: url("../img/desktop/about.jpg");
  }
  .artist {
    background-image: url("../img/desktop/artist.jpg");
  }
  .service {
    background-image: url("../img/desktop/service.jpg");
  }
  .atraction {
    background-image: url("../img/desktop/atraction.jpg");
  }
  .extras {
    background-image: url("../img/desktop/extras.jpg");
  }
  .contact {
    background-image: url("../img/desktop/contact.jpg");
  }
}

@media (min-width: 1100px) {
  nav a .logo {
    width: 60px;
  }
  nav .nav__links li {
    display: inline-block;
  }
  nav .social {
    margin-right: 0;
  }
  nav .burger-menu {
    display: none;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .about {
    background-image: url("../img/portrait/about-p.jpg");
  }
  .artist {
    background-image: url("../img/portrait/artist-p.jpg");
  }
  .service {
    background-image: url("../img/portrait/service-p.jpg");
  }
  .atraction {
    background-image: url("../img/portrait/attraction-p.jpg");
  }
  .extras {
    background-image: url("../img/portrait/extras-p.jpg");
  }
  .contact {
    background-image: url("../img/portrait/contact-p.jpg");
  }
}
/*# sourceMappingURL=main.css.map */