#home{
    .hero-img{
        background-image: url("/img/small/home1.jpg");
    }
}


#navigation{

    #brand{

        .logo{
            width: 45px;

        }
    }
}
.wrapper{

    width: 576px;

}
#about{
    .top{
        height: 40vh;
    }
    .about{
        background-image: url("../img/medium/about.jpg");
    }
    .about-bottom{
        .containers{
            width: 500px;
        }
        .row{
    
            .square{
    
                height: 220px;
            }
    
        }
    }
}


// .about{
//     background-image: url("../img/medium/about.jpg");
//     background-position: center;
// }
// .artist{
//     background-image: url("../img/medium/artist.jpg");
// }
.service{
    background-image: url("../img/medium/service.jpg");
}
.atraction{
    background-image: url("../img/medium/atraction.jpg");
}
.extras{
    background-image: url("../img/medium/extras.jpg");
}
.contact{
    background-image: url("../img/medium/contact.jpg");
}

#contact {

    background-image: url("../img/medium/contact.jpg");

    .top {
        height: calc(20vh - 70px);
        margin: 30px 0;
    }

    .cont-contact {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

footer{
    text-align: center;
    p{
        display:inline-block;
        padding: 10px;

    }
}